
$black: #011627;
$white: #FFFFFF;
$palette-1: #288DC2;
$palette-2: #c83e4d;
$palette-3: #F16278;

$nav-outline: #ffffff;
$nav-outline-hvr: #ffffff;

$text-ghost: #b4b4b4;
$text-light:#ffffff;
$text-main: #393939;
$text-hard: #212121;

$color-light-grey: #c9c9c9;

$palette-1-v-light: #abeef0;

$palette-1-bg: #e2fcfc;
$palette-2-bg: #ffe4eb;

$palette-1-light: #41d6da;
$palette-2-light: #ffe9ee;

$palette-1-dark: #1abbe8;
$palette-2-dark: #0b816b;
$palette-3-dark: #bb1c1c;

$chip-bg: #def5ff;
$chip-font: #036778;

$palette-1-pastel: #a9fafc;

// $nav-back:#4fa2a2;
$nav-back:#288DC2;